.container
  flex 1

.headerTodo
  justify-content center
  align-items center
  background-color #FFCE00
  height 60

.headerText
  font-size 30

.containerInput
    flex-direction row
    justify-content space-between

.input
    flex 1
    background-color white
    font-size 18
    height 50
    margin-left 5

.button
    background-color black
    width 100
    align-items center
    justify-content center

.text
    font-size 20
    color #FFCE00
    font-weight 700