.container
  flex-direction row
  border-color black
  border-bottom-width 3px
  width 100%
  min-height 40px

 .navigationButtons 
  justify-content flex-start

.unfulfilledTodo
  padding-left 15px
  margin-top 37px
  font-size 20px
  font-weight bold
  color black

.textInput
  padding-left 15px
  margin-top 28px
  font-size 20px
  font-weight bold
  color black

.flagCompleted
  padding-left 25px
  color green


